@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800|Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

@font-face {
    font-family: 'kollektif';
    src: url('../../assets/fonts/Kollektif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer {
    width: 100%;
    font-family: 'kollektif';
    background-color: #a0cc3a98;
    color: black;
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
}