/* src/Navbar.css */
@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800|Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

@font-face {
  font-family: 'kollektif';
  src: url('../../assets/fonts/Kollektif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vemanemproregular';
  src: url('../../assets/fonts/VemanemProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
}

.left {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.navimg {
  height: 100%;
}

.nav-head {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: 'vemanemproregular';
  font-size: 32px;
  text-decoration: none;
}

@media (max-width: 750px) {
  .left {
    flex-direction: column;
  }
  .nav-head {
    display: none;
  }
}

.loginBtn {
  border-radius: 15px;
  border: 0px solid #320B0B;
  background: linear-gradient(180deg, #c2ed5bd5 0%, #e1e445 97.92%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 40px;
  font-family: 'kollektif';
  font-size: 0.9rem;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.loginBtn:hover {
  background: linear-gradient(180deg, #FFF96F 0%, #D0FF14 97.92%);
}

.rightImg {
  height: 80%;
  margin-left: 20px;
}